* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $lightGrey;  
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}

a {
    font-size: $font-md;
    text-decoration: none;
    color: $grayishBlue;
}

p{
    font-size: $font-sm;
    @include breakpoint-up(medium){
        font-size: $font-md;
    }
}

.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-sa {
        justify-content: space-around;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

.container {
    max-width: 69.375rem;
    margin: 0 auto;
    &--pa {
        padding: 2rem 1.25rem;
        @include breakpoint-up(large) {
            padding: 4rem 2rem;
        }
    }
    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        @include breakpoint-up(large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    &--px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--styled{
        background-color: $veryLightGray;
        -webkit-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.83); 
        box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.83);
    }
    &--styledDarker{
        background-color: $lightGrey;
        -webkit-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.83); 
        box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.83);
    }
}

.emptyMsg{
    text-align: center;
    padding: 1rem;
}

.loading{
    text-align: center;
    margin-top: 10rem;
}

.table-title{
    font-family: 'Orbitron', sans-serif;
    font-size: $font-md;
    text-align: center;
}

.title{
    font-family: 'Orbitron', sans-serif;
    font-size: $font-mb-lg;
    text-align: center;
    margin-bottom: 2rem;
    @include breakpoint-up(medium) {
        font-size: $font-lg;
        margin-bottom: 2.5rem;
    }
}

.tabContent{
    margin: 1.5rem 0 2.5rem;
    @include breakpoint-up(medium){
        margin-top: 2.5rem;
    }
    .gameweekTables{
        margin: 0;
    }

    .loading{
        margin-top: 5rem;
    }
}

.removeFilterIcon{
  color: $errorRed;  
}

.errorMsg{
    color: $white;
    text-align: center;
    font-size: $font-md;
    background-color: $errorRed;
    padding: .75rem auto;
    border-radius: .75rem;
    margin: 4rem auto;
}

.PositionAboluteMiddle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    &--mb{
        @include breakpoint-down(medium){
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width:100%;
        }
    }
    &--dt{
        @include breakpoint-up(medium){
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width:100%;
        }
    }
}
