.matchSection{
    .gameweekPagination{
        max-width: 30rem;
        background-color: $veryLightGray;
        border-radius: .85rem;
        overflow: hidden;
        margin: 1.875rem auto;
        @include breakpoint-down(medium){
            margin: 1.25rem auto;
        }
    }
    
    .gameweekTables{
        margin-bottom: 2.5rem;
        @include breakpoint-up(medium) {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
        }

        @include breakpoint-up(large){
            gap: 3rem;
        }

        .matchesTable{
            margin: 0 auto;
            background-color: $veryLightGray;
            border-radius: .75rem;  
            max-width: 26rem;

            @include breakpoint-down(small) {
                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
            
            &Row{
                cursor: pointer;
                justify-content: center;
                td{
                    font-family: 'Nunito', sans-serif;
                }
            }

            &Info{
                text-align: center;
                .matchLink{
                    text-decoration: none;
                    color: black;
                    div{
                        width: 40%;
                        @include breakpoint-down(medium){
                            width: 30%;
                        }
                        text-align: center;
                    }

                    img{
                        height: 2.5rem;
                        width: 2.5rem;
    
                        @include breakpoint-up(medium){
                            height: 3.25rem;
                            width: 3.25rem;
                        }
                    }
                }
            }
            .expandMoreRow{
                padding: .25rem 1.5rem;
                @include breakpoint-up(medium){
                    padding: .5rem 1.5rem;
                }
                text-align: right;
            }
        }
    }
}