.playersSection{
    @include breakpoint-down(medium){
        margin-bottom: 2rem;
    }
}


.dialogContainer{
    max-width: 28rem;
    margin: 0 auto;
    .MuiDialogContent-root{
        padding: 5px 20px;
    }
    .MuiDialogActions-root{
        margin-top: 5px;
    }
}

.tablesContainer{
    .tableColumnHide{
        @include breakpoint-down(small){
            display: none;
        }
    }
    .MuiTable-root{
        border-top: 1px solid $grayishBlue;
    }
    .teamPlayersTable{
        .MuiTableCell-root{
            border-bottom: 1px solid $grayishBlue;
        }
        .playerImg{
            height: 2rem;
            width: 2rem;

            @include breakpoint-up(medium){
                height: 2.5rem;
                width: 2.5rem;
            }

            border: solid 2px $veryDarkBlue;
            border-radius: 100%;
            margin-right: .5rem;
        }
        .ageColumn{
            min-width: fit-content;
        }
        .teamLogo{
            height: auto;
            max-width: 1.75rem;

            @include breakpoint-up(medium){
                max-width: 2rem;
            }
        }
        .countryTableImg{
            img{
                max-width: 1.75rem;
                height: auto;  

                @include breakpoint-up(medium){
                    max-width: 2rem;
                } 
            }
        }
        .playerRating{
            padding: 0.5rem;
            border-radius: 0.25rem;
            &__green{
                color: white;
                box-shadow: 0px 0px 15px 1px hsla(119, 79%, 52%, 0.4);
                background-color: hsl(144, 100%, 25%);
            }
            &__red{
                color: white;
                box-shadow: 0px 0px 15px 1px hsla(0, 92%, 47%, 0.4);
                background-color: hsl(4, 63%, 45%);
            }
            &__yellow{
                color: white;
                box-shadow: 0px 0px 15px 1px hsla(64, 100%, 45%, 0.4);
                background-color: hsl(59, 100%, 40%);
            }
            &__bronze{
                color: black;
                font-weight: bold;
                border: 1px solid black;
                background: linear-gradient(to bottom, #CD7F32 0%, #BE7023 100%);
                box-shadow: 0px 0px 15px 1px hsla(34, 88%, 33%, 0.479);
            }
            &__silver{
                color: black;
                font-weight: bold;
                border: 1px solid black;
                background-color: linear-gradient(45deg, #bcc6cc, #eee, #bcc6cc);
                box-shadow: 0px 0px 15px 1px hsla(0, 8%, 53%, 0.596);
                background-color: silver;
            }
            &__gold{
                color: black;   
                font-weight: bold;
                border: 1px solid black;
                background: linear-gradient(45deg, #b8a350 0%, #eed86f 50%, #eed86f 51%, #fff987 100%);
                box-shadow: 0px 0px 15px 1px hsla(64, 100%, 36%, 0.774);
                background-color: hsl(59, 100%, 40%);
            }
        }
        &PlayerName{
            font-size: 1rem;
            @include breakpoint-up(medium){
                font-size: 1.125rem;
            }
        }
        &PlayerPosition{
            font-size: $font-sm;
        }
    }
}