//colors
$veryDarkBlue: hsl(217, 100%, 15%);
$errorRed: hsl(0, 79%, 56%);
$grayishBlue: hsl(233, 8%, 62%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsla(190, 45%, 69%, 0.15);
// Font sizes
$font-sm: 0.875rem; //14px
$font-md: 1.075rem; //18px
$font-mb-lg: 1.5rem; //21px
$font-lg: 2.25rem; //36px
$font-xlg: 3.25rem; //52px