.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.carousel-button {
  border-radius: 10px;
  background-color: #ccc;
  border: none;
  font-size: 24px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}

.carousel-button:hover {
  background-color: rgb(153, 153, 153);
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-badge {
  max-width: 8rem;
  max-height: 8rem;
}

.team-name {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}
